
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <div>

       
    </div>


    <div class="text-center">


        <h1>Assalomu Alaykum</h1>
        </br>
        <h1>Avto Test</h1>
        </br>
        <h3> web-sahifamizga Xush kelibsiz!</h3>



    </div>
